body{
    margin: 0;
    padding: 0;
}
::selection {
  background: rgba(0,0,0,0);
}

@font-face {
  font-family: 'FauveB';
  src: url(assets/fonts/Faune-Display_Black.ttf);
}

@font-face {
  font-family: 'FauveT';
  src: url(assets/fonts/Faune-Display_Thin.ttf);
}

@font-face {
  font-family: 'Fauve';
  src: url(assets/fonts/Faune-Text_Regular.ttf);
}

@font-face {
  font-family: 'Bizmeud';
  src: url(assets/fonts/bizmeud.otf);
  font-style: normal;
}



/*//////////////MAIN-CANVAS & TABLEAU///////////////////*/

#inner-app{
    height: 100vh;
    width: 100vw;
    background-color: #ffef97;
}
.appAttachMode{
    background-color: #aed7e0bd !important;
}
.img {
    max-width: 500px; 
}
#main-canvas{
    display: block;
    position: absolute;
    margin-top: 10px;
    left: 20vw;
}
.tableau{
    position: absolute;
    margin-right: 15px; 
    border: 10px solid rgba(0,0,0,0);
}
#tableau0{
}
#tableau1{
    left: 40vw;
}
.img-container{
}
.tracking {
    background: linear-gradient(210deg, #277fef, #ff3665);
    background-size: 400% 400%;
    animation: AnimationName 2s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

.canvasSVG{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.imgFeaturesContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/*//////////////MENU///////////////////*/

.menu{
    display: block;
    font-family: Fauve;
    position: absolute;
    width: 15vw;
    height: 90vh;
    top: 0px;
    border: 5px solid white;
    margin: 10px;
    padding: 10px;
}

.section{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.updateImage{
    margin-top: 25px;
}

.trackingison{
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.trackingison:hover{
    background: linear-gradient(210deg, #277fef, #ff3665);
    background-size: 400% 400%;
    animation: AnimationName 2s ease infinite;
    color: white;
}

h2{
    font-size: 2em;
    font-family: Bizmeud;
    font-variant-ligatures: no-common-ligatures;
    padding: 0px;
    margin: 0px;
}
h3{
    font-family: FauveB;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}
h5{
    font-family: FauveT;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}

label, button{
    background-color: white;
    font-family: Fauve;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    font-size: 0.9em;
    border: 1px solid rgba(0,0,0,0.2);
}

.toolbar-button{
    width: 30px;
    height: 30px;
}

label:hover, button:hover{
    background-color: #aed7e0bd;
}

.input-file {
    display: none;
}

/*//////////////TEX BOX///////////////////*/
.textbox{
    position: absolute;
    pointer-events: auto;
    left: 80px;
    top: 80px;
    display: block;
    border: 1px solid rgba(0,0,0,0);
}
.textbox:hover{
    border: 1px solid rgba(0,0,0,0.3);
    cursor: move;
}
.textboxIsSelected{
    border: 1px solid rgba(0,0,0,0.3);
}

.titre{
	color: #ed9a68;
	opacity: 0.8;
    white-space: nowrap; 
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
}
.titre::selection {
  background: rgba(0,0,0,0.3);
}

/*//////////////CONTROLS///////////////////*/

.control{
    position: absolute;
    pointer-events: auto;
    width: 6px;
    height: 6px;
    opacity: 0.5;
}
.controlAttachMode{
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.7);
    cursor: pointer;
    border-radius:50%;
}
.controlResizeMode{
    background-color: rgba(0,0,255,0.3);
    border: 1px solid rgba(255,255,255,0.7);
}

.tr{
    right: -5px;
    top: -5px;
}
.tr.controlResizeMode{
    cursor: ne-resize;
}
.tl{
    left: -5px;
    top: -5px;
}
.tl.controlResizeMode{
    cursor: nw-resize;
}
.br{
    right: -5px;
    bottom: -5px;
}
.br.controlResizeMode{
    cursor: se-resize;
}
.bl{
    left: -5px;
    bottom: -5px;
}
.bl.controlResizeMode{
    cursor: sw-resize;
}
.bc{
    left: calc(50% - 5px);
    bottom: -5px;
}
.bc.controlResizeMode{
    cursor: s-resize;
}
.tc{
    left: calc(50% - 5px);
    top: -5px;
}
.tc.controlResizeMode{
    cursor: n-resize;
}
.cl{
    left: -5px;
    top: calc(50% - 5px);
}
.cl.controlResizeMode{
    cursor: w-resize;
}
.cr{
    right: -5px;
    top: calc(50% - 5px);
}
.cr.controlResizeMode{
    cursor: e-resize;
}

/*//////////Objects///////////*/
.object{
    position: absolute;
    pointer-events: auto;
    border-radius:50%;
    background-color: red;
    opacity: 0.5;
    cursor: pointer;
}
.imagefeature{
    background-color: red;
    pointer-events: auto;
}


/*//////////Constraint///////////*/
.constraint{
    stroke-width: 0;
    pointer-events: auto;
}

.constraintAttachMode{
    stroke-width: 3;
    stroke: black;
}

/*//////////Skeleton///////////*/
.bone{
    pointer-events: auto;
    stroke-width: 2;
    stroke: blue;
}
.textPath{
    pointer-events: auto;
    cursor: pointer;
}

