#title-container{
	position: absolute;
	display: block;
}

#titre2{
	color: white;
	opacity: 0.8;
	mix-blend-mode: hard-light;
    white-space: nowrap; 
    display: inline-block;
    background-color: rgba(25,45,100,0.7);
    text-align: center;
}

.rect {
    border: 2px solid red;
    left: -1000px;
    position: absolute;
    top: -1000px;
}
.object{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: red;
    opacity: 0.5;
}

#img {
    display: block;
    position: relative;
    margin: auto;
    max-width: 700px; 
}
